/* menu login */

.login .left-content{
    margin-left: 0;
    padding-right: 257px;
}

.login .right-content{
    background-color: #ffffff;
    font-family: 'helvetica';
}

.login .right-content .logo{
    width: 100px;
    height: 34px;
    background-color: #CFD4ED;
}

.login .right-content h1{
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
}

.login .right-content p{
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 9px;
    margin: 0;
}

.login .right-content .pass{
    padding-top: 16px;
}

.login .right-content input{
    width: 370px;
    height: 38px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 300;
    font-size: 12px;
    padding-left: 15px;
}

.login .right-content .btn-sign{
    margin-top: 32px;
    padding: 8px 12px;
    width: 370px;
    height: 36px;
    background-color: #0D28A6;
    border-radius: 2px;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
}

/* layout untuk cars.ejs */
.sidebar{
    width: 70px;
    height: 902px;
    right: 75.86%;
    background: #0D28A6;
}

.sidebar .small-logo{
    width: 34px;
    height: 34px;
    margin: 0 auto;
    margin-top: 18px;
    background-color: #CFD4ED;
}

.main-containt{
    width: 1370px;
}
/* layout card.ejs */

.card{
    width: 351px;
    height: 482px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    font-family: 'Helvetica';
}

.card .card-body {
    padding: 24px;
}

.card .image-card{
    width: 303px;
    height: 222px;
    background: #FFFFFF;
    border-radius: 8px;
}

.card .image-card img{
    padding: 31px 17px;
}

.card h3{
    font-weight: 400;
    font-size: 14px;
    padding-top: 16px;
}

.card h2{
    font-weight: 700;
    font-size: 16px;
    padding-top: 8px;
}

.card .list-group-item {
    border: none;
    font-weight: 300;
    font-size: 14px;
}

.card .list-group-item img {
    padding-right: 9px;
}

.card button{
    width: 143.5px;
    height: 48px;
    border-radius: 2px;
}

.card .btn-delete{
    padding: 8px 12px;
    font-weight: 700;
    font-size: 14px;
    color: #FA2C5A;
    background: #FFFFFF;
    border: 1px solid #FA2C5A;
    box-shadow: none;
}

.card .btn-edit{
    padding: 8px 12px;
    font-weight: 700;
    font-size: 14px;
    border: none;
    background: #5CB85F;
}

/* layout untuk table.ejs */

.data-table{
    width: 1100px;
    border-radius: 2px;
    font-family: 'Helvetica';
}

.data-table .order-table thead{
    background: #CFD4ED;
    font-weight: 700;
    font-size: 14px;
}

.data-table .order-table img{
    padding-left: 11.5px;
}

.data-table .order-table tbody{
    background: #FFFFFF;
}

.data-table .order-table tbody tr th{
    font-weight: 300;
    font-size: 14px;
}

