<%- include('./partials/head') %>
    <div class="card">
        <div class="card-body">
            <div class="image-card">
                <img src="image/product.png" alt="">
            </div>
            <h3>Nama/Tipe Mobil</h3>
            <h2>Rp 430.000 / hari</h2>
            <ul class="list-group detail-product">
                <li class="list-group-item key">
                    <span><img src="image/key.svg" alt="key"> Start rent - Finish rent</span>
                </li>
                <li class="list-group-item time">
                    <span><img src="image/clock.svg" alt="clock"> Updated at 4 Apr 2022, 09.00</span>
                </li>
            </ul>
            <button type="submit" class="btn-delete btn-danger"><img src="image/trash.svg" alt="trash">Delete</button>
            <button type="submit" class="btn-edit btn-success"><img src="image/edit.svg" alt="edit">Edit</button>
        </div>
    </div>
    <%- include('./partials/footer') %>