<%- include('./partials/head') %>
    <div class="content row"></div>
    <div class="sidebar">
        <div class="small-logo"></div>
        <div class="btn-dashboard">
            <img src="image/home.svg" alt="home">
            <p>Dashboard</p>
        </div>
        <div class="btn-cars">
            <img src="image/cars.svg" alt="cars">
            <p>Cars</p>
        </div>
    </div>
    <div class="main-content">
        <header>
            <nav>
                <div class="big-logo"></div>
                <div class="menu-button">
                    <img src="image/menu.svg" alt="menu">
                </div>
                <div class="navbar-nav flex-row">
                    <li class="nav-item">
                        <div class="search-container">
                            <form class="nav-search d-flex">
                                <div class="box-search">
                                    <img src="image/search.svg" alt="search">
                                    <input type="search" class="form-control me-2" placeholder="Search"
                                        aria-label="Search">
                                </div>
                                <button class="button-search" type="button">
                                    <p>Search</p>
                                </button>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="account-container">
                            <div class="account-icon">
                                <img src="image/account.svg" alt="account-icon">
                            </div>
                            <div>
                                <p>Unis Badri</p>
                            </div>
                            <div>
                                <img src="image/dropdown.svg" alt="dropdown">
                            </div>
                        </div>
                    </li>
                </div>
            </nav>
        </header>

    </div>

    <!-- <div class="left-side">
        <div class="sidebar">
            <div class="left-sidebar">
                <div class="small-logo"></div>
                <div class="dashboard-button">
                    <div class="image-home">
                        <img src="image/home.svg" alt="home">
                    </div>
                    <div>
                        <p>Dashboard</p>
                    </div>
                </div>
                <div class="cars-button">
                    <div class="image-cars">
                        <img src="image/cars.svg" alt="cars">
                    </div>
                    <div>
                        <p>Cars</p>
                    </div>
                </div>
            </div>
            <div class="right-sidebar">
                <div class="right-sidebar-atas">
                    <div class="big-logo"></div>
                </div>
                <div class="right-sidebar-bawah">
                    <div>
                        <p>CARS</p>
                    </div>
                    <div class="list-car-container">
                        <h6>List Car</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <header>
            <nav class="navbar sticky-top">
                <div class="container">
                    <div class="menu-button">
                        <img src="image/menu.svg" alt="menu">
                    </div>
                    <div class="navbar-nav flex-row">
                        <li class="nav-item">
                            <div class="search-container">
                                <form class="nav-search d-flex">
                                    <div class="box-search">
                                        <img src="image/search.svg" alt="search">
                                        <input type="search" class="form-control me-2" placeholder="Search"
                                            aria-label="Search">
                                    </div>
                                    <button class="button-search" type="button">
                                        <p>Search</p>
                                    </button>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="account-container">
                                <div class="account-icon">
                                    <img src="image/account.svg" alt="account-icon">
                                </div>
                                <div>
                                    <p>Unis Badri</p>
                                </div>
                                <div>
                                    <img src="image/dropdown.svg" alt="dropdown">
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container container-breadcrumbs-list-car">
            <h6>Cars</h6>
            <img src="image/right.svg" alt="panah-kanan">
            <p>List Car</p>
        </div>
        <div class="container-list-car">
            <div>
                <h2>List Car</h2>
            </div>
            <div>
                <a href="/add-new-car">
                    <button class="button-add-new-car">
                        <img src="image/add.svg" alt="plus">
                        <h4>Add New Car</h4>
                    </button>
                </a>
            </div>
        </div>
        <div class="button-size">
            <button class="button-all">
                <p>All</p>
            </button>
            <button class="button-small">
                <p>Small</p>
            </button>
            <button class="button-medium">
                <p>Medium</p>
            </button>
            <button class="button-large">
                <p>Large</p>
            </button>
        </div>
        <div class="card-container">
            <div class="row">
                <%- include('card') %>
                    <%- include('card') %>
                        <%- include('card') %>
            </div>
            <div class="row">
                <%- include('card') %>
                    <%- include('card') %>
                        <%- include('card') %>
            </div>
            <div class="row">
                <%- include('card') %>
                    <%- include('card') %>
                        <%- include('card') %>
            </div>
        </div>
    </div> -->
    <%- include('./partials/footer') %>