<%- include('./partials/head') %>
    <section class="login container-fluid">
        <div class="row">
            <section class="col-md-6 col-sm-12 left-content">
                <img src="image/login.png" class= "gambar-Login" alt="Gambar-Login">
            </section>
            <section class="col-md-6 col-sm-12 align-self-center right-content">
                <div class="logo"></div>
                <h1>Welcome, Admin BCR</h1>
                <form action="/login" method="post">
                    <p>Email</p>
                    <input name="username" value="admin@mail.com">
                    <p class="pass">Password</p>
                    <input name="password" type="password" value="password">
                    <br />
                    <button type="submit" class="btn btn-primary btn-sign">Sign In</button>
                </form>
            </section>
        </div>
    </section>
    <%- include('./partials/footer') %>