<%- include('./partials/head') %>
    <section class="data-table">
        <table class="table table-borderless table-responsive order-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>User Email <img src="image/sort.svg" alt="icon-svg"> </th>
                    <th>Car <img src="image/sort.svg" alt="icon-svg"> </th>
                    <th>Start Rent<img src="image/sort.svg" alt="icon-svg"> </th>
                    <th>Finish Rent<img src="image/sort.svg" alt="icon-svg"> </th>
                    <th>Price<img src="image/sort.svg" alt="icon-svg"> </th>
                    <th>Status <img src="image/sort.svg" alt="icon-svg"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>User Email</th>
                    <th>Car</th>
                    <th>Start Rent</th>
                    <th>Finish Rent</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>2</th>
                    <th>User Email</th>
                    <th>Car</th>
                    <th>Start Rent</th>
                    <th>Finish Rent</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>3</th>
                    <th>User Email</th>
                    <th>Car</th>
                    <th>Start Rent</th>
                    <th>Finish Rent</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>4</th>
                    <th>User Email</th>
                    <th>Car</th>
                    <th>Start Rent</th>
                    <th>Finish Rent</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>5</th>
                    <th>User Email</th>
                    <th>Car</th>
                    <th>Start Rent</th>
                    <th>Finish Rent</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>6</th>
                    <th>User Email</th>
                    <th>Car</th>
                    <th>Start Rent</th>
                    <th>Finish Rent</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th>7</th>
                    <th>User Email</th>
                    <th>Car</th>
                    <th>Start Rent</th>
                    <th>Finish Rent</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="data-sort">
        
    </section>
    <%- include('./partials/footer') %>